@mixin animation($side) {
  animation: #{$side} 300ms forwards ease-in-out;
}

$md-size: 1023px;

.modal {
  //@apply hidden lg:flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  z-index: 10000;

  &.closing {
    .modal-body {
      &.is-left {
        @media only screen and (max-width: $md-size) {
          @include animation(close-in-left);
        }
      }

      &.is-right {
        @media only screen and (max-width: $md-size) {
            @include animation(close-in-right);
        }
      }
    }

    .overlay {
      @include animation(fade-out);
    }
  }

  .overlay {
    @apply lg:hidden;
    background-color: transparent;
    width: 100%;
    height: 100%;
    @media only screen and (max-width: $md-size) {
      @include animation(fade-in);
    }
  }

  .modal-body {
    @apply w-modal-mobile lg:w-modal-desktop;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #EFEFEF;
    color: #000000;
    z-index: 1;
    overflow: auto;

    &.is-left {
      @apply lg:left-0;
      @media only screen and (max-width: $md-size) {
        left: -100%;
        @include animation(pop-in-left);
      }
    }

    &.is-right {
      @apply lg:right-0;
      @media only screen and (max-width: $md-size) {
        right: -100%;
        @include animation(pop-in-right);
      }
    }
  }
}

@keyframes fade-out {
  0% {
    background-color: rgba(0, 0, 0, 0.5);
  }
  100% {
    background-color: transparent;
  }
}
@keyframes fade-in {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

@keyframes close-in-left {
  0% {
      left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes pop-in-left {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes close-in-right {
  0% {
    right: 0;
  }
  100% {
      right: -100%;
  }
}
@keyframes pop-in-right {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

@keyframes show-x {
  100% {
    opacity: 1;
  }
}
