@mixin animation($side) {
  animation: #{$side} 300ms forwards ease-in-out;
}

$md-size: 1023px;
$overlay-color: rgba(0, 0, 0, 0.5);

.modal {
  @apply inset-0;
  position: absolute;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  z-index: 10000;

  .overlay {
    @apply lg:hidden;
    background-color: transparent;
    width: 100%;
    height: 100%;
    @media only screen and (max-width: $md-size) {
      @include animation(fade-in);
    }
  }

  &.closing {
    .overlay {
      @include animation(fade-out);
    }
  }

  .modal-body {
    @apply w-modal-mobile lg:w-full;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: var(--light-gray);
    color: #000000;
    z-index: 1;
    overflow: auto;
  }

  &.is-left {
    @apply lg:left-0 lg:right-auto lg:w-modal-desktop;

    .modal-body {
      @apply left-[-100%] lg:left-0;
      @media only screen and (max-width: $md-size) {
        @include animation(pop-in-left);
      }

      @media only screen and (min-width: $md-size) {
        box-shadow: 3px 2px 8px -3px rgba(0,0,0,0.89);
      }
    }

    &.closing {
      .modal-body {
        @media only screen and (max-width: $md-size) {
          @include animation(close-in-left);
        }
      }
    }
  }

  &.is-right {
    @apply lg:right-0 lg:left-auto lg:w-modal-desktop;
    .modal-body {
      @apply right-[-100%] lg:right-0;
      @media only screen and (max-width: $md-size) {
        @include animation(pop-in-right);
      }

      @media only screen and (min-width: $md-size) {
        box-shadow: -3px 2px 8px -3px rgba(0, 0, 0, 0.89);
      }
    }

    &.closing {
      .modal-body {
        @media only screen and (max-width: $md-size) {
          @include animation(close-in-right);
        }
      }
    }
  }
}

@keyframes fade-out {
  0% {
    background-color: $overlay-color;
  }
  100% {
    background-color: transparent;
  }
}
@keyframes fade-in {
  0% {
    background-color: transparent;
  }
  100% {
    background-color: $overlay-color;
  }
}

@keyframes close-in-left {
  0% {
      left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes pop-in-left {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes close-in-right {
  0% {
    right: 0;
  }
  100% {
      right: -100%;
  }
}
@keyframes pop-in-right {
  0% {
    right: -100%;
  }
  100% {
    right: 0;
  }
}

@keyframes show-x {
  100% {
    opacity: 1;
  }
}
