@mixin animation-speed($side, $function) {
  animation: pop-in-#{$side} 300ms forwards #{$function};
}

$md-size: 1023px;

.modal {
  @apply hidden lg:flex;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  z-index: 10000;

  &.is-open {
    @apply block;
    .is-left {
      @media only screen and (max-width: $md-size) {
        //@apply block;
        @include animation-speed('left', 'ease-in-out');
      }
    }

    .is-right {
      @media only screen and (max-width: $md-size) {
        //@apply block;
        @include animation-speed('right', 'ease-in-out');
      }
    }

    .overlay {
      @media only screen and (max-width: $md-size) {
        @apply block;
        animation: fade-in 250ms forwards ease-in-out;
      }
    }
  }

  .overlay {
    @apply hidden;
    background-color: transparent;
    width: 100%;
    height: 100%;
    animation: fade-in 250ms forwards;
  }

  .modal-body {
    @apply w-modal-mobile lg:w-modal-desktop;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #EFEFEF;
    color: #000000;
    z-index: 1;
    overflow: auto;

    &.is-left {
      @apply left-[-100%] lg:left-0;
    }

    &.is-right {
      @apply right-[-100%] lg:right-0;
    }
  }
}

@keyframes fade-in {
 100% {
   background-color: rgba(0, 0, 0, 0.5);
 }
}

@keyframes pop-in-left {
  100% {
    left: 0;
  }
}

@keyframes pop-in-right {
  100% {
    right: 0;
  }
}

@keyframes show-x {
  100% {
    opacity: 1;
  }
}
